.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#searchFields {
  width: 30%;

}

form > .input {
  width: 100%;
}

#searchButtons {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}